/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}


.jumbotron {
  background-image: url("../imgs/container-cxt-back.jpg");
  background-size: cover;
}

.fill-svg {
	filter: invert(97%) sepia(35%) saturate(4669%) hue-rotate(173deg) brightness(101%) contrast(97%);
}

.cxt-gold-title {
	color: #2c4e4e;
}

.cxt-gold-slogan {
	font-style: italic;
	color: #197f7f;
}

.cxt-gold-section {
	color: #00447c;
}

